.jwplayer.jw-skin-asset-looping .jw-rightclick {
    display: none !important;
}

.jwplayer.jw-skin-asset-looping .jw-display-controls .jw-display-icon-container {
	display: none;
}

.jwplayer.jw-skin-asset-looping .jw-controlbar .jw-button-container .jw-icon-playback {
	display: none;
}

.jwplayer.jw-skin-asset-looping .jw-controlbar .jw-button-container .jw-icon-rewind {
	display: none;
}

.jwplayer.jw-skin-asset-looping .jw-controlbar .jw-button-container .jw-icon-next {
	display: none;
}

/* Customize colors of timeslider */
.jwplayer.jw-skin-asset-looping .jw-controlbar .jw-slider-time {
    display: none;
}

.jwplayer.jw-skin-asset-looping .jw-controlbar .jw-button-container .jw-text-elapsed,
.jwplayer.jw-skin-asset-looping .jw-controlbar .jw-button-container .jw-text-duration {
    display: none;
}
