.jwplayer.jw-skin-now-showing .jw-title {
    display: none;
}

.jwplayer.jw-skin-now-showing .jw-rightclick {
    display: none !important;
}

.jwplayer.jw-skin-now-showing .jw-display-controls .jw-display-icon-container {
    display: none;
}

.jwplayer.jw-skin-now-showing .jw-controlbar .jw-button-container .jw-icon-playback {
    display: none;
}

.jwplayer.jw-skin-now-showing .jw-controlbar .jw-button-container .jw-icon-rewind {
    display: none;
}

.jwplayer.jw-skin-now-showing .jw-controlbar .jw-button-container .jw-icon-next {
    display: none;
}

/* Customize colors of timeslider */
.jwplayer.jw-skin-now-showing .jw-controlbar .jw-slider-time {
    pointer-events: none;
}

.jwplayer.jw-skin-now-showing .jw-controlbar .jw-slider-time .jw-slider-container .jw-rail {
    background-color: rgba(120, 0, 144, 0.3);
}

.jwplayer.jw-skin-now-showing .jw-controlbar .jw-slider-time .jw-slider-container .jw-buffer {
    background-color: rgba(197, 18, 221, 0.5);
}

.jwplayer.jw-skin-now-showing .jw-controlbar .jw-slider-time .jw-slider-container .jw-progress {
    background-color: rgb(197, 18, 221);
}

.jwplayer.jw-skin-now-showing .jw-controlbar .jw-slider-time .jw-slider-container .jw-knob {
    background-color: rgb(197, 18, 221);
    pointer-events: none;
}
